<section class="newsroom">
  
  <div class="news-header" data-aos="fade-down">
    <div class="live-indicator">
      <span class="dot"></span> IN DIRETTA
    </div>
    <h1>Enbarr<span>Set</span></h1>
    <p class="subtitle">La voce della Città Eterna</p>
  </div>

  <div class="broadcast-container">
    <div class="main-screen" data-aos="fade-right">
      <div class="video-frame">
        <iframe 
          [src]="currentSafeUrl" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
      </div>
      <div class="headline-box">
        <div class="category-tag">IN ONDA</div>
        <h2>{{ currentVideo.title }}</h2>
        <p>{{ currentVideo.description }}</p>
        <div class="meta-info">
          <lucide-icon [name]="ClockIcon" [size]="14"></lucide-icon> {{ currentVideo.date }}
        </div>
      </div>
    </div>

    <div class="playlist-sidebar" data-aos="fade-left">
      <h3 class="sidebar-title">
        <lucide-icon [name]="MonitorIcon" [size]="20"></lucide-icon>
        Ultimi Notiziari
      </h3>
      <div class="news-list">
        <div 
          class="news-item" 
          *ngFor="let video of newsList" 
          [class.active]="video.id === currentVideo.id"
          (click)="selectVideo(video)">
          <div class="thumbnail">
            <img [src]="'https://img.youtube.com/vi/' + video.id + '/mqdefault.jpg'" alt="Thumbnail">
            <div class="play-overlay"><lucide-icon [name]="PlayIcon" [size]="24"></lucide-icon></div>
          </div>
          <div class="item-info">
            <h4>{{ video.title }}</h4>
            <span class="date">{{ video.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="specials-container" data-aos="fade-up">
    <h3 class="section-divider-title">
      <lucide-icon [name]="SpecialIcon" [size]="24"></lucide-icon>
      Edizioni Speciali & Raccolte
    </h3>
    
    <div class="specials-grid">
      
      <ng-container *ngFor="let item of specialsList">
        
        <div *ngIf="isGroup(item)" class="special-card group-card" [class.expanded]="item.isOpen">
          
          <div class="group-header" (click)="toggleGroup(item)">
            <div class="special-thumb">
              <img [src]="item.thumbnail" alt="Cover">
              <div class="group-overlay">
                <lucide-icon [name]="GroupIcon" [size]="32"></lucide-icon>
                <span>{{ item.videos.length }} VIDEO</span>
              </div>
            </div>
            
            <div class="special-info">
              <div class="group-title-row">
                <h4>{{ item.title }}</h4>
                <lucide-icon [name]="item.isOpen ? ArrowUp : ArrowDown" [size]="20" class="toggle-icon"></lucide-icon>
              </div>
              <p>{{ item.description }}</p>
            </div>
          </div>

          <div class="group-content" *ngIf="item.isOpen">
            <div class="sub-video-item" *ngFor="let subVideo of item.videos" (click)="selectVideo(subVideo)">
              <div class="sub-thumb">
                <img [src]="'https://img.youtube.com/vi/' + subVideo.id + '/mqdefault.jpg'" alt="Mini Thumb">
                <lucide-icon [name]="PlayIcon" [size]="16" class="mini-play"></lucide-icon>
              </div>
              <div class="sub-info">
                <h5>{{ subVideo.title }}</h5>
                <span>{{ subVideo.date }}</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isGroup(item)" class="special-card" (click)="selectVideo(item)">
          <div class="special-thumb">
            <img [src]="'https://img.youtube.com/vi/' + item.id + '/mqdefault.jpg'" alt="Cover">
            <div class="special-overlay">
              <lucide-icon [name]="TrailerIcon" [size]="32"></lucide-icon>
              <span>GUARDA ORA</span>
            </div>
          </div>
          <div class="special-info">
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        </div>

      </ng-container>

    </div>
  </div>
</section>